.currency-logo {
  width: 15px;
  height: 15px;
}

.card {
  width: 50%;
  margin: 0 auto;
  background-color: #142028;
  border-radius: 20px;
}



mat-card-title {
  text-align: center;
  padding: 10px;
  color: #aaebf1;
}

mat-card-subtitle {
  font-size: 20px;
  color: #818ea3;
}

.credit-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.date-cvc {
  display: flex;
}

.date-cvc mat-form-field {
  width: 50%;
  margin-right: 30px;
}

.normal-form {
  display: flex;
  flex-direction: column;
}

button {
  width: 50%;
  margin: 10px auto;
}

::ng-deep {
  .mat-form-field .mat-form-field-flex{
    background-color: white;
  }
}

.done-logo {
  color: #17c671;
}

.success-container {
  justify-content: center;
  display: flex;
  color: white;
}

.success-container h3 {
  margin-left: 10px;
}
