<div class="popup-container">
  <img class="popup-img" src="/assets/img/popup/popup0.png">
</div>
<div class="title-container">
  <h1 class="title-page">YOUR WALLET</h1>
</div>



<mat-card>
  <mat-card-title>Equity Value (EUR)</mat-card-title>
  <h1>5000 €</h1>

  <div class="btn-container">
    <button mat-raised-button color="accent">Trade</button>
    <button mat-raised-button color="accent">Refill</button>
    <button mat-raised-button color="accent">Transfer</button>
  </div>
</mat-card>

<mat-card class="second-card">
  <mat-list>
    <mat-list-item *ngFor="let asset of assets" class="list-item">
      <div class="container-img">
        <img src="assets/logo/{{asset.currencyTicker.toLocaleLowerCase()}}.png" class="logo-img">
      </div>
      <h1>{{asset.currencyTicker}}</h1>
      <div class="amount">
        <h1>{{asset.amount}}</h1>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
