:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 2rem;
  }
}

#logo {
  width: 170px;
  height: 60px;
}

.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 200px;
  }
}
.mat-divider {
  border-top-width: 1px;
  border-color: #aaebf1;
}
.mat-list-item {
  color: #94a3b8 !important;
  font-size: 16px;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: #f2f5f7 !important;

  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
}
.list-item-active {

  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #2c3344 !important;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
}
.mat-subheader {
  color: #aaebf1;
  font-weight: 100;
  letter-spacing: 1px;
}

.logout-button:hover {
  .mat-icon {
    color: red;
  }
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
  background-color: #0b1217;
}

mat-drawer {
  background: #142028;
}
