<div class="popup-container">
  <img alt="popup" class="popup-img" src="/assets/img/popup/popup.png">
</div>

<div class="title-container">
  <h1 class="title-page">DASHBOARD</h1>
</div>
<div class="page">
  <div class="cards-container">
    <div class="col-sm-6 col-xl-3">
      <mat-card class="resume-card">
        <mat-card-title>{{user?.username }}</mat-card-title>
        <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
        <div class="around-logo">
          <button mat-fab color="primary">
            <mat-icon>person</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="description">
          <h2>{{user?.dateOfBirth}}</h2>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-6 col-xl-3">
      <mat-card class="resume-card">
        <mat-card-title>Wallet</mat-card-title>
        <mat-card-subtitle>
          {{user?.walletAddress?.substring(0, 8) + '...' + user?.walletAddress?.substring(
          user?.walletAddress!.length - 8, user?.walletAddress!.length - 1)}}
        </mat-card-subtitle>
        <div class="around-logo">
          <button mat-fab color="warn">
            <mat-icon>attach_money</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="description">
          <h2>{{walletAmount + ' €'}} </h2>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-6 col-xl-3">
      <mat-card class="resume-card">
        <mat-card-title>Last exchange</mat-card-title>
        <mat-card-subtitle>Bitcoin</mat-card-subtitle>
        <div class="around-logo">
          <button mat-fab color="accent">
            <mat-icon>history icon</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="description">
          <h2>16 BNB</h2>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="chart-container">

    <div class="container-list-chart">

        <mat-list>
          <mat-list-item *ngFor="let currency of currencies" class="list-item">
            <img src="assets/logo/{{currency.ticker.toLocaleLowerCase()}}.png" class="logo-img">
            {{currency.name}}
          </mat-list-item>
        </mat-list>

    <div class="chart-pair">
      <div class="container-pair">
        <img alt="currency" src="/assets/logo/eur.png" class="currency-logo">
        <img alt="currency" src="/assets/logo/btc.png" class="currency-logo">
        <h2>EUR /</h2>
        <h1>BTC</h1>
      </div>
      <app-chart [symbolPair]="'BTCUSDT'" [width]="1000" [height]="400"></app-chart>
    </div>
    </div>
  </div>

</div>


